@import url("https://fonts.cdnfonts.com/css/recoleta");

::-webkit-scrollbar {
  width: 0;
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 0;
  border-radius: 0;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
